################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proyecto1/.vs/Proyecto1/FileContentIndex/1a6c3cea-d37f-4b08-aa4d-5bb47b5d00c6.vsidx
*.vsidx
