@model IEnumerable<Proyecto._2.Models.HistorialCalculos>

<h2>Sumas Realizadas</h2>

<table>
    <tr>
        <th>Operación</th>
        <th>Resultado</th>
        <th>Fecha</th>
        <th>Hora</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Operacion</td>
            <td>@item.Resultado</td>
            <td>@item.FechaRegistro</td>
            <td>@item.HoraRegistro</td>
        </tr>
    }
</table>
